/* #6B2EF0 */
/* #5023DD */
/* #3617CA */
/* #1B0CB6 */
/* #0000A3 */

/*--------------------------------------------------------------*/

/* essa classe é só para visualizar cores e não vai ser usada */
.teste_de_cores{
    color: #6B2EF0;
    color: #5023DD;
    color: #3617CA;
    color: #1B0CB6;
    color: #0000A3;
}

/*--------------------------------------------------------------*/