@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #3617CA;
}

#form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;
    color: #2b344b;

}

.title{
    font-size: 1.8em; 
    margin-bottom: 10%;
}

.input{
    min-width: 200px;
    border-radius: 22px;
    border: 2px solid #6f7e8a;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}

.input i{
    font-size: 1.2em;
    padding: 5px;
    background: #3617CA;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.input input{
    width: 80%;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    transform: translateY(-10%);
    color: #2b344b;
    font-size: 11pt;
}


#btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

#btn button{
    font-family: 'Poppins', sans-serif;
    background: #0000A3;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#button button:hover{
    background: #3617CA;
}

